{% extends "master.html.twig" %}

{% block title %}Ads list{% endblock %}

{% block headextra %}
    <script>
        var currentPage = {{currentPage}};
                function loadPage(page) {
                    $('#btPage' + currentPage).removeClass("currentPageButton");
                    currentPage = page;
                    $('#btPage' + currentPage).addClass("currentPageButton");
                    $('#itemsView').load("/ajax/ads/" + page);
                    window.history.pushState("", "Ads list", "/ads/" + page);
                }
    </script>
{% endblock %}
{% block content %}  
    
<table id="itemsView" border="1">
    <tr><th>image</th><th>title</th><th>price</th></tr>
            {% for a in adList %}
        <tr><td> <img src="{{a.imagePath}}" width="100"></td>
            <td>{{a.title}}</td>
            <td>{{a.price}}</td>
            </tr>
        {% endfor %}
</table>
                

        <div class="paginationContainer">
            {% for page in range(1,maxPages) %}
                <button class="{% if page == currentPage %}currentPageButton{% endif %}"
                        id="btPage{{page}}" onclick="loadPage({{page}});">{{page}}</button>
            {% endfor %}
        </div>

        {% endblock %}