{% extends "master.html.twig" %}

{% block title %}Index{% endblock %}
{% block headextra %}

{% endblock %}
{% block content %}


    <a href="/ad/add"><button>Create an ad</button></a>
{% include 'panelCategoryList.html.twig' %}
<div id="adsListContainer">
 {% include 'ajaxads.html.twig' %}
 </div>
   
              <ul id="paginationAds">
        {% for page in range(1,maxPages) %}
            <li id="liPage{{page}}" {% if page == currentPage %}class="active"{% endif %}>
                <a id="btPage{{page}}" onclick="loadAdPanel({{page}});">{{page}}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block bodyendextra %}
    <script>

        var currentPage = {{ currentPage }};
        function loadAdPanel(page) {
            $('#liPage' + currentPage).removeClass("active");
            currentPage = page;
            $('#liPage' + currentPage).addClass("active");
            $('#adsListContainer').load("/ajax/ads/" + page);
                    window.history.pushState("", "Ads list", "/ads/" + page);
        }

    </script>
{% endblock %}