{% extends "bootstraptransition/master.html.twig" %}
{% block title %}Search{% endblock %}

{% block content %}

    <form method="post">
        <input type='text' name='searchTerm' value='{{v.searchTerm}}'/>
        <input type='submit' value='Search' />
    </form>
{% if v %}
        <h2>Search results for {{v.searchTerm}}</h2>
        <h3>Ads</h3>
        {% for a in v.adResults %}
            <p><a href='/add/details/{{a.id}}'>{{ a.title }}</a></p>
        {% else %}
            <p>No ads found matching this search</p>
        {% endfor %}
        
        <h3>Categories</h3>
                {% for c in v.categoryResults %}
                    <p><a href='/category/{{c.urlSanitizedFullName}}'>{{ c.fullName }}</a></p>
        {% else %}
            <p>No categories found matching this search</p>
        {% endfor %}

        <h3>Users</h3>
                {% for u in v.userResults %}
            <p>{{ u.name }}</p>
        {% else %}
            <p>No users found matching this search</p>
        {% endfor %}

        {% endif %}
{% endblock %} 
